<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>osu.nzxl.space | dashboard</title>
        <link rel="icon" type="image/svg+xml" href="/assets/logo.svg" sizes="any"> 
        <link rel="stylesheet" href="/assets/bootstrap.css">
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <div class="preloader"></div>
        <div class="jumbotron vertical-center">
            <div class="container-md">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand"><object data="/assets/logo.svg" width="150" height="40"></object></a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link active" onclick="updateActive(this)">home</a></li>
                            <li class="nav-item"><a class="nav-link" onclick="updateActive(this)">bot settings</a></li>
                            <li class="nav-item"><a class="nav-link" onclick="updateActive(this)">ooc</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://discord.gg/qYhZnEkMf4" target="_blank">discord</a></li>
                            <li class="nav-item"><a class="nav-link" href="/client.exe" target="_blank">download client</a></li>                    
                        </ul>
                    </div>                       
                    <a class="navbar-user" href="https://osu.ppy.sh/u/<%=username %>" target="_blank"><%= username %></a>
                    <div class="navbar-user-logo">
                        <img src="<%= avatar %>">
                    </div>
                </nav>
                <div class="content">
                </div>
            </div>
        </div>
        <script src="/assets/bootstrap.js"></script>
        <script src="/assets/jquery.js"></script>
        <script src="/assets/socket.io.js"></script>
        <script>
            $(window).on('load', () => {
                $('.preloader').fadeOut('slow');
                $('.content').html(home);
            });

            var secretId = "<%= secretId %>";
            var active;
            var socketData;

            var home = `<%- include('./pages/home.ejs') %>`;
            var bot = `<%- include('./pages/bot-settings.ejs') %>`;
            var ooc = `<%- include('./pages/ooc.ejs') %>`;

            var socket = io();
            socket.on("connect", () => setInterval(() => socket.emit("REQUEST", secretId), 5000));
            socket.on("DATA", data => {
                if(active == "home") {
                    // status
                    $('#discord-status').css("color", data.Info.Discord ? "green" : "red");
                    $('#client-status').css("color", data.Info.Discord ? "red" : "green");
                    $('#socket-status').css("color", data.Info.Socket ? "green" : "red");
                    $('#twitch-status').css("color", data.Info.Twitch ? "green" : "red");
                    $('#osu-status').css("color", data.Player.playing ? "green" : "red");

                    // now playing
                    $('#np').text(data.Beatmap.name ? data.Beatmap.name : "No data available");
                    $('#np').attr("onclick", `window.open("https://osu.ppy.sh/b/${data.Beatmap.id}", '_blank').focus()`);
                }

                socketData = data;
                console.log(socketData);
            });

            function updateActive(data) {
                $('.active').removeClass("active");
                $(data).addClass("active");
                active = $('.active').text();
                $('.content').fadeOut('fast', () => {
                    $('.content').html(active == "home" ? home : active == "bot settings" ? bot : ooc);
                    $('.content').fadeIn('fast');
                });
            }
        </script>
    </body>
</html>